<mat-card >
  <mat-toolbar>
    <p>something</p>
  </mat-toolbar>

  <div class="form-container">
    <p class="label">Identifiant</p>
    <mat-form-field appearance="fill">
      <mat-label>Identifiant</mat-label>
      <input matInput placeholder="Identifiant">
    </mat-form-field>
  </div>

  <div class="form-container">
    <p class="label">Capacité</p>
    <mat-form-field appearance="fill">
      <mat-label>Capacité</mat-label>
      <input matInput placeholder="Capactié">
    </mat-form-field>
  </div>

  <div class="form-container">
    <p class="label">Nature</p>
    <mat-form-field appearance="fill">
      <mat-label>Nature</mat-label>
      <input matInput placeholder="Nature">
    </mat-form-field>
  </div>

  <div class="form-container">
    <p class="label">Site</p>
    <mat-form-field appearance="fill">
      <mat-label>Site</mat-label>
      <input matInput placeholder="Site">
    </mat-form-field>
  </div>

  <mat-card-actions>
    <span class="example-spacer"></span>
    <button (click)="closeForm()">Annuler</button>
    <button class="confirm">Confirmer</button>
  </mat-card-actions>
</mat-card>
