.form-container {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }
  
  .label {
    margin: 0;
    width: 100px;
    margin-left: 10%;
  }

  .confirm{
    background-color: #ffce03;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }