.toudoulou {
  background-color: #22346c;
}

.text {
  color: white;
}

mat-sidenav {
  width: 15%;
  border-right: none;
  background: white;
  color: white;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 6.5%);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 90%;
  
}

mat-divider {
  margin-top: 16%;
  margin-bottom: 16%;
  background-color: rgba(255, 255, 255, 0.5);
}

.mat-mdc-button:not(:disabled) {
  color: #b9b9b9;
}



.menu-button.active {
  color: #22346c;
}