<!-- TOOLBAR BAR -->

<mat-toolbar class="toudoulou">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" *ngIf="sidenav.mode === 'side'"
    (click)="sidenav.toggle()" >
    <mat-icon > menu </mat-icon>
   
    </button>
    <span class="text">My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


<!-- SIDE NAV BAR -->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="mat-elevation-z8">
      <!-- Your sidenav content goes here -->
      <img class="avatar mat-elevation-z8"src="C:\Users\zaibi\OneDrive\Documents\GitHub\Citernes\src\assets\Decoupage stage\PNG\icon_logo BWS.png">
<mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
  
   
  
    <!-- Your main content goes here -->
    <div class="content mat-elevation-z8">Main content here!</div>
  </mat-sidenav-container>
  