
.barre{
    max-width: 95%;
    margin: 16px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    border-radius: 10px;
    color: #6e6e6e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  
  .content {
    height: calc(100vh - 98px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
  
  }

  .citerne-content{
  margin-top:10%;
  }

  .image-container {
    float: left;
    margin-right: 10%;

  }

  .text-container {
    overflow: hidden;
  }

  .temps{
    color: #009245;
  }

  .example-spacer {
    flex: 1 1 auto;
  }


  .example-card {
    max-width: 50%;
    margin-left: 2%;
    margin: 3%;

  }

  .card-container {
    display: flex;
  }


  
  .custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: transparent;
    color: #6e6e6e;
    border: 5%;
    border-color: #6e6e6e;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
  }
  
  .custom-button:hover {
    background-color: #f0ebeb;
  }
  
  .custom-icon {
    margin-right: 15px;
  }
  

  .spacer{
    margin-right: 5%;
  }