<!---POMPE-->
<div>
    <mat-toolbar class="barre">
      <span>États des Pompe</span>
      <span class="spacer"></span>
      <button class="custom-button">
        <mat-icon class="custom-icon" svgIcon="tp"></mat-icon>
        <span >Toutes les pompes</span>
      </button>
      <button class="custom-button">
        <mat-icon class="custom-icon" svgIcon="tc"></mat-icon>
        <span >Toutes les citernes</span>
      </button>
      <button class="custom-button">
        <mat-icon class="custom-icon" svgIcon="nature"></mat-icon>
        <span >Nature</span>
      </button>
      <button class="custom-button">
        <mat-icon class="custom-icon" svgIcon="date"></mat-icon>
        <span >Date</span>
      </button>
      <button class="custom-button">
        <mat-icon class="custom-icon" svgIcon="pmap"></mat-icon>
        <span >Site</span>
      </button>
      <span class="example-spacer"></span>
      <button mat-mini-fab>
        <img src="./assets/images/icon-09.png" >
      </button>
    </mat-toolbar>
        <div class="card-container">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Pompe 1</mat-card-title>
            <span class="example-spacer"></span>
            <p>il y a <span class="temps">3min</span></p>
          </mat-card-header>
          <mat-card-content>
            <div class="citerne-content">
              <div class="image-container">
                <img src="./assets/images/pompe.png">
              </div>
              <div class="text-container">
              <p>Gasoile</p>
              <p> Dernier ravitaillement</p>
              <p>15:55-26/06/2023</p>
              <p>7,5m³</p>
              </div>
          </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Pompe 2</mat-card-title>
            <span class="example-spacer"></span>
            <p>il y a <span class="temps">3min</span></p>
          </mat-card-header>
          <mat-card-content>
            <div class="citerne-content">
              <div class="image-container">
                <img src="./assets/images/pompe.png">
              </div>
              <div class="text-container">
                <p>Gasoile</p>
                <p> Dernier ravitaillement</p>
                <p>15:55-26/06/2023</p>
                <p>7,5m³</p>
              </div>
          </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Pompe 3</mat-card-title>
            <span class="example-spacer"></span>
            <p>il y a <span class="temps">3min</span></p>
          </mat-card-header>
          <mat-card-content>
            <div class="citerne-content">
              <div class="image-container">
                <img src="./assets/images/pompe.png">
              </div>
              <div class="text-container">
              <p>Gasoile</p>
              <p> Dernier ravitaillement</p>
              <p>15:55-26/06/2023</p>
              <p>7,5m³</p>
              </div>
          </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Pompe 4</mat-card-title>
            <span class="example-spacer"></span>
            <p>il y a <span class="temps">3min</span></p>
          </mat-card-header>
          <mat-card-content>
            <div class="citerne-content">
              <div class="image-container">
                <img src="./assets/images/pompe.png">
              </div>
              <div class="text-container">
                <p>Gasoile</p>
                <p> Dernier ravitaillement</p>
                <p>15:55-26/06/2023</p>
                <p>7,5m³</p>
              </div>
          </div>
          </mat-card-content>
        </mat-card>
        </div>
        
  </div>
  
  