<!---Citenre-->
<div>
  <mat-toolbar class="barre">
    <span>États des citernes</span>
    <span class="spacer"></span>
    <button class="custom-button">
      <mat-icon class="custom-icon" svgIcon="tc"></mat-icon>
      <span >Toutes les citernes</span>
    </button>
    <button class="custom-button">
      <mat-icon class="custom-icon" svgIcon="capacite"></mat-icon>
      <span >Capactité</span>
    </button>
    <button class="custom-button">
      <mat-icon class="custom-icon" svgIcon="nature"></mat-icon>
      <span >Nature</span>
    </button>
    <button class="custom-button">
      <mat-icon class="custom-icon" svgIcon="date"></mat-icon>
      <span >Date</span>
    </button>
    <button class="custom-button">
      <mat-icon class="custom-icon" svgIcon="pmap"></mat-icon>
      <span >Site</span>
    </button>
    <span class="example-spacer"></span>
    
    <div class="button-container">
      <button class="main_button" mat-mini-fab (click)="toggleExtraButtons()">
        <img src="./assets/images/icon-10.png">
      </button>
      <div *ngIf="showExtraButtons" class="extra-buttons">
        <!-- Add your additional buttons here -->
        <button class="petit_button" (click)="openPopupForm()"><img src="./assets/images/icon-23.png"></button>
        <button class="petit_button"><img src="./assets/images/icon-24.png"></button>
        <button class="petit_button"><img src="./assets/images/icon-25.png"></button>
      </div>
    </div>
  </mat-toolbar>


  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4]">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Citerne {{num}}</mat-card-title>
            <span class="example-spacer"></span>
            <p>il y a <span class="temps">3min</span></p>
          </mat-card-header>
          <div class="citerne-content">
            <div class="image-container">
              <img src="./assets/images/citerne10m.png" >
            </div>
            <div class="text-container">
              <p><img src="./assets/icons/icon-11.svg" width="10%" height="10%"> Gasoile</p>
              <p>Dernier ravitaillement</p>
              <p><img src="./assets/icons/icon-12.svg" width="10%" height="10%"> 26/06/2023 15:51</p>
              <p><img src="./assets/icons/icon-13.svg" width="10%" height="10%"> 7,5m³</p>
            </div>
        </div>
        </mat-card>
      </div>
    </div>
  </div>
  

<app-widget-pompe></app-widget-pompe>