<mat-toolbar class="toudoulou">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
    <span class="text">My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" >
      <!-- Your sidenav content goes here -->
      <img  src="./assets/images/logoBWS.png" >
<mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon svgIcon="tdb"></mat-icon>
        <span>Tableau de bord</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon svgIcon="historique"></mat-icon>
        <span>Historique</span>
      </button>
      <button mat-button class="menu-button">
        <mat-icon svgIcon="maps"></mat-icon>
        <span>Map</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon svgIcon="alert"></mat-icon>
        <span>Alerts</span>
      </button>
    </mat-sidenav>
  
   
  
    <!-- Your main content goes here -->
    <mat-toolbar class="sort-bar">
      <mat-button-toggle-group [(ngModel)]="selectedSortOption">
        <mat-button-toggle value="option1">Option 1</mat-button-toggle>
        <mat-button-toggle value="option2">Option 2</mat-button-toggle>
        <mat-button-toggle value="option3">Option 3</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar>


    <div>
      <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    
  </div>
  </mat-sidenav-container>
